/* App.css */
.black-hole {
  width: 50px;
  height: 50px;
  background-color: black;
  box-shadow: 0 0 20px rgba(255, 186, 107, 0.8);
  border-radius: 50%;
  z-index: 1;
}

.planet {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: gold;
  box-shadow: 0 0 20px rgba(222, 255, 57, 0.8);
  border-radius: 50%;
  z-index: 2;
}

.space {
  height: 400px;
  width: 900px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border: rgba(222, 255, 57, 0.8);
  box-shadow: 0 0 20px rgba(255, 186, 107, 0.8);
}
